POSTGRES_DB=pams
POSTGRES_USER=pams_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_PORT=5432
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_in_production
KEYCLOAK_PORT=8080
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://+:5001;http://+:5000
